{% extends 'base.html.twig' %}

{% block title %}Les auteurs{% endblock %}

{% block body %}
    <h1>Les auteurs</h1>
    <div class="cadreAuthor">
    {% if authors | length > 0 %}
        {% for author in authors %}
            <a class="imgHomeBook" href="#">
                <img class="imgBook" src="{{ asset('uploads/portraitH.jpg') }}" alt="#">
            </a>    
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
