{% extends 'base.html.twig' %}

{% block title %}Les auteurs{% endblock %}

{% block body %}
     {% if authors | length > 0 %}
        {% for author in authors %}
            <div class="example-wrapper">
                <h1>{{ author.firstname }}</h1>
                <p>{{ author.lastname }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
