{% extends 'base.html.twig' %}

{% block title %}Les auteurs{% endblock %}

{% block body %}
    <h1>Les auteurs</h1>
    <div class="cadreAuthor">
    {% if authors is defined %}
        {% for author in authors %}
            <a class="imgHomeBook" href="{{ path('app_showAuthor') }}">
                <img class="imgBook" src="{{ asset('interface/portrait.png') }}" alt="#">
                <p class="authorName">{{author.firstname}} {{author.lastname}}</p>
            </a> 
        {% endfor %}
        {% else %}
            <span class="empty">
                {% include "_part/pageNotFound.html.twig" %}
            </span>   
    {% endif %}
</div>
{% endblock %}
