{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <h1>Dans votre panier</h1>

    <table class="table">
        <tr>
            <td class="tableTitle">Titre</td>
            <td class="tableTitle">Price</td>
            <td class="tableTitle">Quantité</td>
            <td class="tableTitle">ISBN</td>
            <td class="tableTitle">Image</td>
            <td class="tableTitle">Total</td>
        </tr>
        <tr>
        {# {% if %}
            {% for %} #}
                <td>chaton</td>
                <td>7 €</td>
                <td>1</td>
                <td>956723498</td>
                <td>chaton.jpg</td>
                <td>7,99 €</td>
            {# {% endfor %}
        {% endif %} #}
        </tr>
        <tr>
            <td class="totalPrice" colspan="6">7,99€</td>
        </tr>
    </table>
    <div class="buttonSubmit">
        <button class="resetSubmit">supprimer</button>
        <button class="totalSubmit">payer</button>
    </div>
{% endblock %}

