{% extends 'base.html.twig' %}

{% block title %}Sézame livre toi{% endblock %}

{% block body %}

    <h1>Sézame livre toi : les news</h1> 

<div class="cadreBook">
{% if books is defined %}
    {% for book in books %}
        <a class="imgHomeBook" href="{{ path('app_showBook') }}">
            <img class="imgBook" src="{{ asset( book.imageName ) }}" alt="{{ book.title }}">
        </a>
    {% endfor %}
    {% else %}
        <span class="empty">
            {% include "_part/pageNotFound.html.twig" %}
        </span>
{% endif %}
</div>

{% endblock %}
