{% extends 'base.html.twig' %}

{% block title %}Sézame livre toi{% endblock %}

{% block body %}
<style>

</style>
<h1 >Sézame livre toi : catégories</h1>
<div class="cadreBook">

{% for book in books %}

    <a class="imgHomeBook" href="{{ path('app_pageBook') }}">
        <img class="imgBook" src="{{ asset('uploads/{}') }}" alt="{{ book.title }}">
    </a>

{% endfor %}

</div>


{% endblock %}
