{% extends 'base.html.twig' %}

{% block title %}Sézame livre toi{% endblock %}

{% block body %}
<style>

</style>
<h1 >Sézame livre toi : catégories</h1>
<div class="cadreBook">

{% for book in books %}

    <a class="imgHomeBook" href="{{ path('app_pageBook') }}">
        <img class="imgBook" src="{{ asset( book.picture ) | imagine_filter('thumbnail') }}" alt="{{ book.title }}">
    </a>
{% else %}
    <span class="empty">
        {% include "_part/pageBook.html.twig" %}
    </span>
{% endfor %}

</div>

{% endblock %}
