{% extends 'base.html.twig' %}

{% block title %}sélection de BD{% endblock %}

{% block body %}

<h1>Votre selection</h1>

<ul>
    <li>titre du livre</li>
    <li>photo du livre</li>
    <li>description</li>
    <li>catégories</li>
    <li>auteur</li>
    <li>price</li>
    <li>ranking</li>
</ul>


{% endblock %}