{% extends 'base.html.twig' %}

{% block title %}Hello CollectionController!{% endblock %}

{% block body %}
 {% if collections | length > 0 %}
        {% for collection in collections %}
            <div class="example-wrapper">
                <h1>{{ collection.title }}</h1>
                <p>{{ collection.price }} €</p>
                <p>{{ collection.ranking }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
