{% extends 'base.html.twig' %}

{% block title %}Hello CollectionController!{% endblock %}

{% block body %}

    <h1>Collection de bandes dessinées</h1>
    <div class="cadreBook">
        {% if collection | length > 0 %}
            {% for collection in collections %}
                <h2 class="titleSlide">Lanfeust</h2>
                <div class="cadreImg">
                    <div class="sousCadreImg">
                        <a href="#">
                            <img class="imgBook" src="{{ asset('interface/lanfeust.jpg') }}" alt="collection">
                        </a>
                    </div>
                </div>
            {% else %}
                <span class="empty">
                    {% include "_part/pageNotFound.html.twig" %}
                </span>
            {% endfor %}
        {% endif %}
    {% if collections | length > 0 %}
        {% for collection in collections %}
            <div class="example-wrapper">
                <h2>{{ collection.title }}</h2>
                <p>{{ collection.price }} €</p>
                <p>{{ collection.ranking }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
