{% set book = entity.instance %}

{% for bookImage in book.bookImages %}
<img src="{{ vich_uploader_asset(bookImage, 'pathFile')|imagine_filter('admin_thumbnail') }}"
{% else %}
    <span class="badge-secondary">
        Empty
    </span>
{% endfor %}